body {
  margin: 0;
  padding: 0;
  background-color: #ece9e48a;
}

/* header */

#background-video {
  position: static;
  width: 100vw;
  height: 60vh;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -10;
}

.header-back-img {
 position: absolute;
 left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  color: #efebe6;
  font-family: "Goldman", cursive;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-shadow: 6px 6px 6px #000000;
}

div.header-container {
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-end;
  width: 100%;
  color: #efebe6;
}

div.header-title-container {
  padding: 1%;
  margin: 3% auto;
  max-width: 80%;
  min-width: 16rem;
  width: 35%;
}

h1 {
  max-width: 90%;
  margin: 0 auto;
  padding: 0;
  letter-spacing: 5px;
}

h2 {
  display: block;
  font-size: 1em;
  margin-block-start: 1.67em;
  margin-block-end: .1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  letter-spacing: 2.5px;
}

#link-title {
  padding: 0;
  margin: 0 auto;
  text-decoration: none;
  cursor: pointer;
  color: #efebe6;
}

#link-title:visited {
  color: #efebe6;
}

#header-img {
  margin: 2% auto;
  display: block;
  width: 9%;
  align-content: center;
  min-width: 3rem;
  background-color: #efebe6;
  border-radius: 50%;
}

div.title-main {
  margin: 6% auto;
  max-width: 85%;
  min-width: 10rem;
  color: #efebe6;
  padding: 0;
}

/* main */

.card-container {
  display: flex;
  margin-top: 3%;
  flex-flow: row wrap;
  text-align: center;
  align-items: flex-start;
}

.card {
  display: block;
  padding: 1%;
  margin: 2% auto;
  width: 30%;
  min-width: 18rem;
}
 
.card:hover {
  background-color: #ebeaea;
  border-radius: 20px;
}

.card img {
 width: 45%;
}

.icon-skill{
width: 6rem;
height: 6rem;
}

.img-card {
  margin: 0 auto;
  width: 35%;
  text-align: center;
}

.text-card p {
  text-align: center;
  width: 50%;
  min-width: 16rem;
  color: #3e3e3e;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 2;
  margin: 0 auto 0;
  padding: 10%;
  
}

.highlight {
  color: #000000;
  display: inline-block;
  padding: 0 4px;
  font-family: "Goldman", cursive;
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: bold;
}

/* contact */

.contact {
  color: #000000;
  padding: 1% 1% 2%;
}

h5 {
  display: block;
  font-size: 0.63em;
  margin-block-start: 1.67em;
  margin-block-end: .1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.contact-title {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  font-family: "Goldman", cursive;
  font-size: 2rem;
  font-weight: 700;
}

.icons-container {
  margin: 0 auto 1%;
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
  padding: 2% 0 3%;
}

.link-social {
  padding: 0;
  margin: 1%;
  text-decoration: none;
  color: #003264;
}

.link-social:hover {
  color: #efebe6;
}

div.social-icon {
  width: 18%;
  min-width: 8rem;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 1s;
  align-content: center;
  text-align: center;
}

.image-social {
  margin: 0 auto;
  width: 35%;
  text-align: center;
  padding: 12%;
}
 
.image-social:hover {
  background-color: #ebeaea;
  border-radius: 25%;
}

/* footer */

footer {
  background: #000000;
  padding: 3%;
}

span {
  padding: 0.4rem;
}

.copyright {
  font-family: "Goldman", cursive;
  font-size: 1rem;
  color: #000000;
  padding: 2.5%;
  text-align: center;
}

.link-copy {
  letter-spacing: 1px;
  padding: 3px;
  margin: 0;
  text-decoration: none;
  color: #efebe6;
}

.link-copy:hover {
  padding: 7px 17px;
  background-color:#3b3b3b;  
  border-radius: 12px;
}